    .pointer,
    .pointer .fa,
    .niku-cms-table th {
        cursor: pointer;
    }
    .fa-remove {
        color:red;
    }
    .niku-cms .row {
        margin-bottom:10px;
    }
    .niku-cms h2 {
        margin-bottom:25px;
    }

    .niku-cms tbody tr td {
        font-size:13px;
    }



    .niku-cms .btn {
        margin-bottom:15px;
    }

    .niku-cms #niku-cms-sidebar {
        width:260.5px;
    }
