.niku-cms-mediamanager {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    min-height: 300px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    .modal-dialog {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        margin-top: 20px;
        max-height: 94%;
        .modal-content {
            border-radius: 0px;
            height: 98vh;
            width: 98%;
            margin: 0 auto;
            .container-fluid {
                height: 100%;
                .row {
                    height: 100%;
                }
                .mediamanager-modal-header {
                    .row {
                        height: 100%;
                        .top-left-sidebar {
                            padding-left: 23px;
                            background-color: rgba(243, 243, 241, 0.25);
                            padding-top: 15px;
                            width: 12%;
                            border-bottom: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                            padding-bottom: 4px;
                            .modal-title {
                                padding-left: 0px;
                                padding-right: 0px;
                                position: relative;
                                top: -3px;
                                .modal-header {
                                    padding-left: 23px;
                                    padding-right: 23px;
                                }
                            }
                        }
                        .top-main-content {
                            padding-top: 15px;
                            padding-left: 0px;
                            padding-right: 0px;
                            width: 84%;
                            .nav-tabs {
                                padding-left: 24px;
                                li {
                                    cursor: pointer;
                                    a {
                                        border-radius: 0px;
                                    }
                                }
                            }
                        }
                        .top-right-sidebar {
                            width: 4%;
                            border-bottom: 1px solid #ddd;
                            border-left: 1px solid #ddd;
                            height: 100%;
                            display: block;
                            padding-top: 12px;
                            padding-bottom: 11px;
                            padding-right: 28px;
                            .close {
                                font-size: 30px;
                                margin-top: 5px;
                                position: relative;
                                top: -1px;
                            }
                        }
                    }
                }
                .mediamanager-modal-content {
                    height: 100%;
                    .left-sidebar {
                        width: 12%;
                        background-color: #f3f3f3;
                        border-right: 1px solid #e5e5e5;
                        height: 90.4%;
                        padding-top: 23px;
                        padding-bottom: 23px;
                        padding-left: 23px;
                        padding-right: 23px;
                    }
                    .main-content {
                        width: 88%;
                        height: 91%;
                        .inner-main-content {
                            width: 86.4%;
                            height: 90.4%;
                            overflow: auto;
                            padding: 23px;
                            .modal-body {
                                padding: 0px;
                                height: 100%;
                                .tab-content {
                                    height: 100%;
                                    .tab-pane {
                                        display: block;
                                        height: 100%;
                                    }
                                }
                            }
                            .medialibrary {
                                .image {
                                    width: 11.1%;
                                    overflow: hidden;
                                    position: relative;
                                    padding-left: 23px;
                                    padding-right: 23px;
                                    padding-bottom: 23px;
                                    .active {
                                        img {
                                            border: 2px solid #337ab7;
                                        }
                                    }
                                    div.image-wrapper {
                                        border: 1px solid #e5e5e5;
                                        position: relative;
                                        -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05);
                                        box-shadow: inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05);
                                        background: #eee;
                                        cursor: pointer;
                                        img {
                                            object-fit: cover;
                                            height: 100px;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        .inner-right-sidebar {
                            width: 13.6%;
                            background-color: #f3f3f3;
                            border-left: 1px solid #e5e5e5;
                            height: 89.8%;
                            padding-top: 23px;
                            padding-bottom: 23px;
                            padding-left: 23px;
                            padding-right: 23px;
                        }
                        .inner-bottom-bar {
                            background-color: rgba(243, 243, 241, 0.25);
                            border-top: 1px solid #e5e5e5;
                            height: 59px;
                            .bottom-main-content {
                                width: 86.4%;
                            }
                            .bottom-right-sidebar {
                                width: 13.6%;
                                text-align: right;
                                margin-top: 13px;
                            }
                        }
                    }
                    .right-sidebar {
                        width: 12%;
                        background-color: #f3f3f3;
                        border-left: 1px solid #e5e5e5;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        height: 100%;
                    }
                }
            }
        }
    }
}
