.niku-cms {
    .pointer,
    .niku-cms-table th {
        cursor: pointer;
    }
    .row {
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 25px;
    }
    tbody tr td {
        font-size: 13px;
    }
    .btn {
        margin-bottom: 15px;
    }
    #niku-cms-sidebar {
        width: 260.5px;
    }
    .niku-cms-list-actions {
        width: 100%;
    }
    .row > form > .col-md-9 > h2 {
        margin-top: 0px;
        padding-top: 0px;
    }
    .noresults {
        padding: 0px;
        margin: 0px;
    }
}
